{
  "semi": false,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^(@/|\\.)(.*?)(?<!\\.vue)$",
    "^primevue/",
    "^(@/|\\.).*\\.vue$"
  ],
  "importOrderSortSpecifiers": true,

  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}
